@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");

body{
    /* margin: 25px; */
}
.fv-heading-row{
    display: flex;
    margin-top: 15px;
}
.fv-heading {
  color: #fea116;
  font-family: "Kalam", cursive;
}
.fv-btn{
    outline: 1px solid #fea116;
    color: #fea116;
}
.fv-btn:hover{
    background-color: #fea116;
    color: whitesmoke;
}